body,html{
    background: whitesmoke url("images\ \(2\).jpg") center center no-repeat;
    background-size:cover;
    min-height: 100%;
    color:rgb(14, 66, 21);
}
#container{
  width: 400px;
  margin: 40px auto 0;
  padding: 50px;
  box-sizing: border-box;
  background: url("images1.jpg") top left repeat;
  box-shadow: 0px 10px 15px -8px #000000;
  -webkit-webkit: border radius 5px;
  -moz-webkit: border radius 5px;
  -ms-webkit: border radius 5px;
  -o-webkit: border radius 5px;
 border-radius: 5px;
text-align: center;
}

h1{
    margin:0 0 20px;
    padding:0 0 20px;
    border-bottom: solid 1px #dddddd;
}

form{
    text-align: left;
}

form label{
display: block;
margin: 25px 0;
font-weight: bold;
}

form input, form select{
    padding: 7px;
    margin: 10px 0;
}

form input[type="text"]{
width: 90px;
}

button{
    background: wheat;
    border: none;
    border-bottom: solid 4px #222222;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px 30px;
    width: 100%;
}

button:hover{
    background: #4c2874;
    border-bottom-color: #111111;
}

button:active{
    position: relative;
top: 1px;
}
#totalTip{
    font-size: 50px;
    margin-top: 40px;
    align-content: center;
}
#totalTip:before{
    content: "TIP AMOUNT";
    font-size: 14px;
    display: block;
    font-weight: bold;
    

}
#totalTip sup{
    font-size: 24px;
    top: -18px;
}
 footer{
     position: relative;
     color:whitesmoke;
     text-align: center;
     font-size: 14px;
     font-weight: bold;
     font-family: cursive;
 }